<% content_for :title, 'Checkout canceled' %>
<p>Forgot to add something to your cart? Shop around then come back to pay!</p>
<div><%= link_to 'Checkout page', new_stripe_checkout_session_path %></div>
